body{
	font-family: Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.intro i{
	margin-top: 8px;
	font-size: 30pt;
}

#about img{
	height:400px;
	ov
}

#about{
	height: 402px !important;
}
#process i{
	font-size: 90px;
}
footer{
	margin-bottom:0;
}