body{
	font-family: Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.intro i{
	margin-top: 8px;
	font-size: 30pt;
}

#about img{
	height:400px;
	ov
}

#about{
	height: 402px !important;
}
#process i{
	font-size: 90px;
}

hr{
	border-width: 3px;
	border-color: black;
	width: 40px;
}
#code{
	margin-top: -200px;margin-bottom: 50px;
}
#code p{
	font-size: 20pt;
}
footer{
	margin-bottom:0;
	background-color: #eee;
}